* {
    box-sizing: border-box;
}

body {
    background-color: #34ba77;
    background-image: url("./images/blackjack-board-wide.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
}

button.hit, button.stay {
    background-color: red;
    width:200px;
    height: 50px;
    font-size: 32px;
    border-radius: 5%;
    border: solid;
    border-color: red;
    color: white;
}

button.hit {
    position: absolute;
    bottom: 2rem;
}

button.stay {
    position: absolute;
    bottom: 8rem;
}

.board {
 display: flex;
 position: absolute;
 top: 10%;
 left: 25%;
 justify-content: center;
 align-items: start;

}

.img-board {
    width: 1000px;
    height: auto;
    z-index: 5;
}

.computer-cards {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-left: 45rem;
    padding-top: 8rem;
   
}

.player-cards {
    
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: 45rem;
  padding-top: 6rem;
    
}

.computer-cards img {
    width: 4vw; 
    height: auto;
    padding-top: 12%;
    z-index: 10;
}

.player-cards img {
    width: 4vw;
    height: auto;
    z-index: 10;
   padding-top: 12%;
}

