

* {
    box-sizing: border-box;
    font-family: "Felipa", serif;
}

body {
    background-color: #34ba77;
    background-image: url("./images/blackjack-board-wide.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
}

.score {
    width: 100%;
    max-width: 100%;
height: 100%;
position: absolute;
top: 0;
background-color: black;
opacity: 0.8;
z-index: 120;
display: none;
margin: auto;
}

button.betting {
    display: none;
}

.betting.computer-cards, .betting.player-cards {
    display: none;
}

h2.result {
    font-size: 52px;
   display: none;
   position: absolute;
   top: 50%;
   left: 35%;
 color: white;
   z-index: 180;
}

button.hit, button.stay, button.new {
    background-color: red;
    width:200px;
    height: 50px;
    font-size: 32px;
    border-radius: 5%;
    border: solid;
    border-color: red;
    color: white;
}

button.hit {
    position: absolute;
    bottom: 2rem;
    background-color: black;
    border-color: black;
}

button.stay {
    position: absolute;
    bottom: 8rem;
}

.pot {
    position: absolute;
    bottom: 14rem;
}

.betting-interface {
    position: absolute;
    top: 5rem;
    left: 2rem;
    height: auto;
}

button.double-down {
position: absolute;
display: none;
font-size: 25px;
background-color: black;
color: white;
top: 10rem;
left: 2rem;
height: auto;

}

button.split {
    position: absolute;
display: none;
font-size: 25px;
background-color: rgb(238, 79, 119);
color: white;
top: 10rem;
right: 2rem;
height: auto;
}

button.active-player-up {
        position: absolute;

font-size: 25px;
background-color: black;
color: white;
top: 13rem;
right: 2rem;
height: auto;
}

button.active-player-down {
        position: absolute;

font-size: 25px;
background-color: black;
color: white;
top: 15rem;
right: 2rem;
height: auto;
}

.bet {
    position: absolute;
    top: 18rem;
    left: 2rem;
    font-size: 35px;
    color: white;
}

.chips {
    display: flex;
    flex-direction: row;
   gap: 5px;
}

.chips button {
    font-size: 25px;
    background-color: black;
    color: white;
}

.pot h2 {
    font-size: 50px;
    color: white;
}

button.new {
    position: inherit;
    top: 65%;
    left: 45%;
   opacity: 1;
}


.board {
 display: flex;
 position: absolute;
 top: 10%;
 left: 25%;
 justify-content: center;
 align-items: start;

}

.img-board {
    width: 1000px;
    height: auto;
    z-index: 5;
}

.computer-cards {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-left: 45rem;
    padding-top: 8rem;
   
}

.player-cards {
    
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: 45rem;
  padding-top: 6rem;
    align-items: center;
}

.split-player-hands {
    display: none;
    padding-left: 10rem;
    gap: 50px;
    padding-top: 10rem;
    align-items: center;
    justify-content: space-evenly;
}

.split-player-hands img {
        width: 4vw;
    height: auto;
    z-index: 10;
   padding-top: 12%;
}

.player-total {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 35rem;
    bottom: 4rem;
}

.comp-total {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 35rem;
    bottom: 40rem;
}

.computer-cards img {
    width: 4vw; 
    height: auto;
    padding-top: 12%;
    z-index: 10;
}

.player-cards img {
    width: 4vw;
    height: auto;
    z-index: 10;
   padding-top: 12%;
}

@media only screen and (max-width: 1400px) and (min-width: 800px) {
    .computer-cards {
        display: flex;
   
        gap: 10px;
margin-top: -10rem;
        padding-left: 100px;
        margin-left: 30%;
       
    }

    .computer-cards img {
        width: 3rem; 
        height: auto;
        padding-top: 14rem;
       
    }
    

    .player-cards {
        display: flex;
     
        gap: 10px;
  
padding-left: 100px;
margin-left: 30%;
}

.total {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 25rem;
    bottom: 12rem;
}

.player-cards img {
    width: 3rem;
    height: auto;

}

.betting-interface {
position: absolute;
    bottom: 25rem;
    right: 2rem;
  top: auto;
}

button.double-down {
bottom: 20rem;
width: 150px;
top: auto;
right: 2rem;
}

button.split {
bottom: 20 rem;
width: 150px;
right: 2rem;
height: auto;
}

button.active-player-up {
       
bottom: 25rem;
right: 2rem;
height: auto;
}

button.active-player-up {
     
bottom: 27rem;
right: 2rem;
height: auto;
}

}

@media only screen and (max-width: 600px) {
    body {
        background-color: #34ba77;
        background-image: url("./images/blackjack-board-mobs.png");
        background-repeat: no-repeat;
        background-size: 100%;

    
    }

    .computer-cards {
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: 2rem;
        padding-top: 8rem;
       
       
    }

    .computer-cards img {
        width: 3rem; 
        height: auto;
        padding-top: 14rem;
       
    }
    

    .player-cards {
        display: flex;
        justify-content: start;
        gap: 10px;
        padding-left: 2rem;
  padding-top: 14rem;
   
}

.total {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 3rem;
    bottom: 12rem;
    font-size: 20px;
}

.player-cards img {
    width: 3rem;
    height: auto;

   
}


button.hit, button.stay {
    background-color: red;
    width:100px;
    height: 50px;
    font-size: 28px;
    border-radius: 5%;
    border: solid;
    border-color: red;
    color: white;
}

button.hit {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background-color: black;
    border-color: black;
}

button.stay {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.pot {
    position: absolute;
    bottom: 14rem;
    left: 4rem;
}

.betting-interface {
position: absolute;
    bottom: 14rem;
    right: 2rem;
    top: auto;
    left: auto;
}

.bet {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 10rem;
    right: 2rem;
    font-size: 35px;
    color: white;
}

.chips button {
    font-size: 15px;
}


.pot h2 {
    font-size: 30px;
}


h2.result {
    font-size: 40px;
   display: none;
   position: absolute;
   top: 50%;
   left: 25%;

}

button.new {
    position: inherit;
    top: 35%;
    left: 35%;
   opacity: 1;
}

}

